openai==0.28.1
numpy==1.26.0
matplotlib==3.8.0
py3langid==0.2.2
requests==2.31.0
huggingface-hub==0.17.3
iprogress==0.4
ipykernel==6.25.2
ipython==8.16.1
jupyter-client==8.3.1
jupyter-core==5.3.2
pandas==2.1.1
datasets==2.14.5
tqdm==4.66.1
jsonlines
seaborn